{% extends 'dc_management/base.html' %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
<h1>{{ dc_user.first_name }} {{ dc_user.last_name }}</h1>

<table class="table table-striped table-hover">
    <thead class="thead-default">
    <tr>
        <th>CWID</th>
        <th>Role</th>
        <th>Affiliation</th>
    </tr>
    </thead>

    <tr>
        <td>{{ dc_user.cwid }}</td>
        <td>{{ dc_user.get_role_display }}</td>
        <td>{{ dc_user.get_affiliation_display }}</td>
    </tr>
</table>

<h2>{{ dc_user.project_set.all.count }} projects</h2>

{% with dc_user.project_set.all as project_list %}
    {% include 'dc_management/project_list.html' %}
{% endwith %}

{% if dc_user.comments %}
<h3>Comments</h3>
<p>{{ dc_user.comments }}</p>
{% endif %}


</br>



<a type="button" class="btn btn-warning" href="{% url 'dc_management:dc_user-update' dc_user.pk %}">Update user</a>

<a type="button" class="btn btn-danger" href="{% url 'dc_management:thisusertoproject-add' dc_user.pk %}">Add user to project</a>

{% endblock %}

