{% extends 'dc_management/base.html' %}

{% load bootstrap3 %}

{% block content %}

<style>
/* styling of the tabs*/
#exTab1 .tab-content {
  color : black;
  padding : 5px 15px;
}

#exTab1 .nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
}
</style>


<div id="exTab1" class="container">
<ul  class="nav nav-tabs">
			<li class="active">
            <a  href="#overview" data-toggle="tab">Overview</a>
			</li>
			<li><a href="#projects" data-toggle="tab">Projects</a>
			</li>
			<li><a href="#users" data-toggle="tab">Users</a>
			</li>
  		    <li><a href="#servers" data-toggle="tab">Servers</a>
			</li>
		</ul>
		
		
<div class="tab-content clearfix">
  
  <div class="tab-pane active" id="overview">

    <p>Notes for future developments:</p>
    <ul>
    <li>In user pages, list all governance docs user is on.</li>
    </ul>
    <div class="container">
     <div class="panel panel-info">
      <div class="panel-heading">
        <h4>User mounted twice on node</h4>
      </div>
      <div class="panel-body">

      </div>
     </div>
    </div>
    <div class="container">
     <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Projects expiring in less than 90 days</h4>
      </div>
      <div class="panel-body">

      </div>
     </div>
    </div>
    <div class="container">
     <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Governance docs missing / expiring</h4>
      </div>
      <div class="panel-body">

      </div>
     </div>
    </div>
    <div class="container">
     <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Users not audited in last 9 months</h4>
      </div>
      <div class="panel-body">

      </div>
     </div>
    </div>
    <div class="container">
     <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Items with missing tickets</h4>
      </div>
      <div class="panel-body">

      </div>
     </div>
    </div>
      
  </div>
  
  <div class="tab-pane" id="projects">			  
    <h2>Active Projects</h2>
    <a type="button" class="btn btn-info" href="{% url 'dc_management:all_projects' %}">View all projects</a>
    <a type="button" class="btn btn-default" href="#">Add new project</a>

    {% include "dc_management/project_list.html" %}
    
  </div>
  
  <div class="tab-pane" id="users">
    <h2>Data Core PIs</h2>
    <a type="button" class="btn btn-primary" href="{% url 'dc_management:dc_user-add' %}">Create user</a>
    <a type="button" class="btn btn-info" href="{% url 'dc_management:all_users' %}">View all users</a>
    {% include "dc_management/user_list_multiproject.html" %}
    </br>
  </div>


  <div class="tab-pane" id="servers">
    <h2>Active Production Servers</h2>
    <a type="button" class="btn btn-default" href="#">View all server nodes</a>
    <a type="button" class="btn btn-default" href="#">Add new server</a>
    <a type="button" class="btn btn-default" href="#">Decommission server</a>
    <a type="button" class="btn btn-default" href="#">Suspend server</a>
    <a type="button" class="btn btn-default" href="#">Reactivate server</a>

    {% if server_list %}
        <table class="table table-striped table-hover" id="serverTable">
        <thead class="thead-default">
            <tr>
                <th>Node</th>
                <th>IP address</th>
                <th># projects</th>
            </tr>
        </thead>
    
        {% for s in server_list %}
            <tr>
            <td><a href="{% url 'dc_management:node' s.pk %}">{{ s }}</a></td>
            <td>{{ s.ip_address }}</td>
            <td> {{ s.project_set.count }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No servers are currently in the database.</p>
    {% endif %}
  </div>
</div>
</div>  



{% endblock %}