<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0 minimal-ui"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        {% load staticfiles %}
        <link rel="shortcut icon" href="{% static "favicon.ico" %}" />

        <title>{{ APPTITLE }}</title>

        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% load bootstrap3 %}
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">{{ APPTITLE }}</a>
                    <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar-main" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                          <a href="{% url 'dc_management:index' %}">Data Core Home</a>
                        </li>
                    </ul>
                    
                    
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li>
                              <a href="/logout/">Logout</a>
                            </li>
                          
                            <li class="dropdown">
                <a class="dropdown-toggle" id="dropblast" data-toggle="dropdown"
                    href="#">Options <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropblast">
                    <li><a href="{% url 'admin:index' %}" 
                           target="_blank">DC Admin</a>
                    </li>
                    <li><a href="{% url 'password_reset' %}">Reset password</a></li>
                    <li><a href="#">tblastn</a></li>
                    <li><a href="#">blastx</a></li>
                    <li><a href="#">OrtholoTree</a></li>
                </ul>
            </li>
                           
                            
</div>
                        {% else %}
                            <li><a href="/login/">Login</a></li>
                            
                        {% endif %}
                    </ul>
                
                    
                    
                    
                </div>
            </div>
        </div>

        <div class="container">
            <div id="banner" class="page-header">
                <h1>{% block title %}{{ APPTITLE }}{% endblock %}</h1>
            </div>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
			<div class="alert alert-dismissable {{ message.tags }}">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ message }}
			</div>
                    {% endfor %}
                </div>
            {% endif %}

            {% block content %}{% endblock %}
        </div>
    </body>
</html>