<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0 minimal-ui"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        {% load staticfiles %}
        <link rel="icon" href="{% static "img/dc_icon.png" %}" />

        <title>{{ APPTITLE }}</title>
		
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>        
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {% comment  %}
        <script type="text/javascript" src="{{ STATIC_ROOT }} /static/js/jquery-3.2.1.js"></script>
        {% endcomment %}
        
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% load bootstrap3 %}
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">{{ APPTITLE }}</a>
                    <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar-main" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                          <a href="{% url 'dc_management:index' %}">Dashboard</a>
                        </li>
                    </ul>

                    <div class="col-sm-3 col-md-3 pull-right">
                        <form   class="navbar-form" 
                                role="search" 
                                action="{% url 'dc_management:full-search' %}" 
                                method="post">{% csrf_token %}
                
                            <div class="input-group">
                                <input  type="text" 
                                        class="form-control" 
                                        placeholder="Search database" 
                                        name="srch_term" 
                                        id="srch_term">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <i class="glyphicon glyphicon-search">
                                            </i>
                                        </button>
                                    </div>
                            </div>
                        </form>
                    </div>                    
                    
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                              <a class="dropdown-toggle" 
                                id="dropblast" 
                                data-toggle="dropdown"
                                href="#">
                                {{ user.get_username }} <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu" 
                                    role="menu" 
                                    aria-labelledby="dropblast">
                                    <li><a href="/logout/">Logout </a></li>
                              </ul>
                              
                            </li>
                          
                            <li class="dropdown">
                
                            <a class="dropdown-toggle" 
                                id="dropblast" 
                                data-toggle="dropdown"
                                href="#">
                                Options <b class="caret"></b>
                            </a>
                                <ul class="dropdown-menu" 
                                    role="menu" 
                                    aria-labelledby="dropblast">
                                    <li><a href="{% url 'admin:index' %}" 
                                           target="_blank">DC Admin</a>
                                    </li>
                                    <li><a href="{% url 'password_reset' %}">
                                        Reset password</a>
                                    </li>
                                    <li><a href="{% url 'dc_management:url_generator' %}">
                                        Qualtrics URL generator</a>
                                    </li>
                                    <li><a href="{% url 'dc_management:change_software' %}">
                                        Install/remove software</a>
                                    </li>
                                    <li><a href="{% url 'dc_management:finances-active' %}">
                                        View finances</a>
                                    </li>
                                    <li><a href="{% url 'dc_management:outlook' %}">
                                        Outlook</a>
                                    </li>
                                    <li><a href="{% url 'dc_management:reset-outlook' %}">
                                        Reset Outlook</a>
                                    </li>
                                </ul>
                            </li>
                       
                        {% else %}
                            <li><a href="/login/">Login</a></li>
                            
                        {% endif %}
                    </ul> 
                </div>
            </div>
        </div>

        <div class="container">
            <div id="banner" class="page-header">
                <h1>{% block title %}{{ APPTITLE }}{% endblock %}</h1>
            </div>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
			<div class="alert alert-dismissable {{ message.tags }}">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ message }}
			</div>
                    {% endfor %}
                </div>
            {% endif %}

            {% block content %}{% endblock %}
        </div>
    </body>
</html>